<div id="logos" style="width: 100%;padding: 0;background: url(https://nsk-prod-bucket.s3.eu-central-1.amazonaws.com/public/donatie-form.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIA27U7L6MAD5FQNLT6%2F20250313%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20250313T144444Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEI%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDGV1LWNlbnRyYWwtMSJHMEUCICxNJyfjQKaMbfHC%2FcdTonlNRQorDtGh7Oe8alc4%2B3OyAiEA%2B%2FfCPB%2Fk1p0nVFFTu7XMTWTScIXBXY%2F9XBj1tEScDr4qjgMI2P%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARABGgw3NTUxNzQ3MzI1NDQiDKHw5ZllFGwKHc0HQCriAh1f5thRKBBGuQndFFKcOqAcFMofW%2BpWAUw5vBvFn8w5PhT%2B1KKkaRndJdV6WMa0Y3YCXW8Eo2lpdJkTjcuIdRUIyzTYfFzP3Td%2BGU3rwM%2BjN28bUfCV8d8OJ5mc6rAevlzffcLY6QuOCFZkgLXBE%2BllWDOGIyIyeWsMWvMvh%2BT%2BfotAu%2B7tnqubbxqDAifPpvPcZNMN%2BkCDLQTHu8hlV0JKdNK2MnhwP2iiAot%2F%2B0pgt70wytzoM9xQtxcnaWyPAEC4%2FTssgsfRIIE5999jDER3bTZubcE%2FYQ4tQ4l3143qnSf7pPP8dj7DLfCrxhcM3wUbdgiytXCXFo%2FAcoP4P%2F6dNFsHlA84q16Czy7xHtOYle%2Btdjk0ZAUJummb%2F8nUDV%2Bcf2O9osRm8LzqtFFor%2BKfIp%2BjqcO9t0wvWC%2FRu843xk8ocjBcmxlN2phEI2tKh2tn1oSSnPwlqfl44%2BWjYIxBHzDI1Mu%2BBjqzAqTRsOb9mZcb2K9xXsdIfiHLg7oBCAJTT4TA5jVFNqAhbfXAKIYBfIgHq1ILszRzBrVwMcIBCA9GCFYQENXxmwdzwHzJkWcPvNxIXRVYI88FgRKpZuzdBICeqslAXUdozqXvPKByxnZu1UXcsD59BuQvj8GQmim%2BXlH9Jx%2BO5MnSs9FbqFuQH4gBjYHdWBkkkk5qdM9vNvX7rSahs70XYL5kZDRTpTmdlIgwK674dCURxjlAoF9CzQnTL7QUFlHMNIpA%2FbBxVg1O0%2FYLSIawDgojxTbqhqMqu942dVZIJCgTVCtFU%2BU9WlUXLY7Avtptpvln432qZm7YSH%2BFM7cVNfzyiqvlnO3j2TQaxG%2B2aZUMtFZZTivfTQWAbFHmqxSb55aqzQKxqQg%2FbNuArQEHjVS1qlw%3D&X-Amz-Signature=0093fbcf5e1e9bef15544e507e68b198f8187f026124f26b31ef401bdc3c93b6&X-Amz-SignedHeaders=host&response-content-disposition=inline) no-repeat;height: 200px;background-repeat: no-repeat;background-position: center;background-size: contain;"></div>
<h2>UWV donatieprogramma</h2>
<div id="toelichting">Dit formulier is bedoeld voor schenkingsaanvragen voor ICT-apparatuur vanuit het UWV. Aan het eind van elk kwartaal (maart, juni, september, december) nemen wij deze aanvragen in behandeling. Het principe van wie het eerst komt, wie het eerst maalt, is geldig. De donaties zijn bedoeld voor gebruik binnen Nederland. Dit donatieprogramma komt voort uit een samenwerking tussen UWV, TSC en Copiatek.</div>
<br>
<form name="public_order_form" method="post" class="form-horizontal">

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Contactgegevens
    </div>
    <div class="panel-body">
      {{#each form}}
        {{#each customer}}
          <div class="form-group">
            <label class="col-sm-3 control-label required" for="public_order_form_customer_{{@key}}">{{this.label}}{{#if this.required}} *{{/if}}</label>
            <div class="col-sm-9">
              <input 
                type="text"
                id="public_order_form_customer_{{@key}}"
                name="public_order_form[customer][{{@key}}]"
                {{#if this.required}}required="required"{{/if}}
                class="form-control"
                value="{{this.value}}"
              >
            </div>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Voorwaarden
    </div>
    <div class="panel-body">
      <p>
        Om in aanmerking te komen voor de schenking moet uw organisatie aan minimaal één van onderstaande voorwaarden voldoen. Aan welke voorwaarde(n) voldoet uw organisatie?
      </p>
      {{#each form}}
        {{#each terms}}
          <div>
            <div class="col-xs-10">
              <label for="public_order_form_terms_{{@key}}">{{this.label}}</label>
            </div>
            <div class="col-xs-2 text-right">
              <input 
                type="checkbox"
                id="public_order_form_terms_{{@key}}"
                name="public_order_form[terms][{{@key}}]"
                value="{{this.value}}"
              >
            </div>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Gewenste producten
    </div>
    <div class="panel-body">
      <p>Het is mogelijk om werkplekken en smartphones aan te vragen. U mag hierbij maximaal 50 werkplekken en maximaal 20 smartphones aanvragen.</p>
      {{#each products}}
        {{#if this.title}}
          <h3>{{this.title}}</h3>
        {{/if}}
        {{#if this.desc}}
          <p>{{this.desc}}</p>
        {{/if}}
        <div class="form-group">
          <div class="col-sm-3" style="margin-top: 8px"><b>{{this.name}}</b></div>
          <div class="col-sm-5" style="margin-top: 8px">{{this.remark}}</div>
          <div class="col-sm-2" style="margin-top: 8px"></div>
          <div class="col-sm-2">
            <input
              type="number"
              id="public_order_form_products_{{@index}}_quantity"
              name="public_order_form[products][{{@index}}][quantity]"
              class="form-control"
              placeholder="0"
            >
          </div>
        </div>
        <input type="hidden" id="public_order_form_products_{{@index}}_name" name="public_order_form[products][{{@index}}][name]" value="{{this.name}}">
        {{#unless this.title}}
          <p>&nbsp;</p>
        {{/unless}}
      {{/each}}

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-9 col-sm-offset-3">
          <div class="g-recaptcha" data-sitekey="{{recaptchaKey}}"></div>
        </div>
      </div>

      <div class="row" style="margin-top: 10px">
        <div class="col-sm-9 col-sm-offset-3">
          <button type="submit" id="public_order_form_save" name="public_order_form[save]" class="btn-success btn" style="width: 200px;">Donatieaanvraag versturen</button>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" id="public_order_form_orderStatusName" name="public_order_form[orderStatusName]" required="required" value="{{orderStatusName}}">
  <input type="hidden" id="public_order_form_confirmPage" name="public_order_form[confirmPage]" value="{{confirmPage}}">

</form>

<div id="errorContainer" style="color: red"></div>

<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
