<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sales orders</title>
  <style>

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
    }
    
    body {
      font-size: 12px;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #212529;
    }

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;
      justify-content: space-between;
    }

    .col {}
    .col-6 {
      width: 48%;
    }
    .col-12 {
      width: 100%;
    }

    @media screen and (max-width: 1000px) {
      * {
        font-size: 1em;
      }
    }

    @media screen and (max-width: 630px) {
      .row div {
        padding: 1.5%;  
      }    
    } 

    @media screen and (max-width: 500px) {
      * {
        font-size: 0.9em;
      }
    }

    .panel-default {
      border-color: #ecf0f1;
    }
    .panel {
      margin-bottom: 21px;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    .panel-heading {
      font-weight: bold;
      padding: 10px 15px;
      color: #2c3e50;
      background-color: #ecf0f1;
      border-bottom: 2px solid #000405;
    }
    .panel-body {
      padding: 15px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .table {
      margin: 5px 15px 5px 15px;
    }

    .table-checklist td, .table-checklist th {
      padding: 5px;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
    }

    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.25rem;
    }
    h6 {
      font-size: 1rem;
    }

    .table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      padding-bottom: .2rem;
      background-color: transparent;
    }
    .table thead tr th {
      text-align: left;
    }

    thead { display: table-header-group; }
    tfoot { display: table-row-group; }
    tr { page-break-inside: avoid; }
    
    .pagebreak {
      page-break-before: always;
    }

  </style>
</head>
<body>
  {{#each this}}
  <div class="container pagebreak">
    <h2>{{#if customer}}Sales{{else}}Purchase{{/if}} order {{ order_nr }} Declaration Export</h2>
    <div class="row">
      <div class="col col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>Order details
          </div>
          <div class="panel-body">
            <img width="80%" height="80%" style="margin: 0 auto" src="{{order_barcode}}">
          </div>
          <table class="table">
            <tr><td width="50%">Order nr</td><td>{{ order_nr }}</td></tr>
            <tr><td>Order date</td><td>{{ order_date }}</td></tr>
            <tr><td>Status</td><td>{{ order_status.name }}</td></tr>
            <tr><td>Remarks</td><td>{{ remarks }}</td></tr>
          </table>
        </div>
        {{#if customer}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>Delivery
          </div>
          <table class="table">
            <tr><td>Delivery date</td><td>{{ delivery_date }}</td></tr>
            <tr><td>Delivery type</td><td> {{ delivery_type }}</td></tr>
            <tr><td>Instructions</td><td>{{ delivery_instructions }}</td></tr>
          </table>
        </div>
        {{/if}}
        {{#ifCond supplier '&&' pickup}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>Declaration transport
          </div>
          <table class="table">
            <tr>
              <td width="100%">I, the person who arranges the transport of the equipment listed below, hereby declare that prior to export
              the used equipment listed below was tested and is fully functional.(1) I confirm that this equipment is not
              defined as or considered to be waste in any of the countries involved in the transport and is destined for
              direct reuse(2) and not for recovery or disposal operations (Annex 6, Article 1 under c).</td>
              <td></td>
            </tr>
            <tr>
                <td>Name</td>
                <td></td>
            </tr>
            <tr>
                <td>Date</td>
                <td></td>
            </tr>
            <tr>
                <td>Signature</td>
                <td></td>
            </tr>
            {{!-- <tr>
                <td>Images</td>
                <td>{{ pickup.images }}</td>
            </tr> --}}
          </table>
        </div>
        {{/ifCond}}
      </div>

      <div class="col col-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>Declaration testing
          </div>
          <table class="table">
            <tr><td width="100%"><p>I, the person who conducted the evaluation and testing of all below listed equipment, declare that the
            results of evaluation and testing are complete and correct (Annex 6, Article 1 under b).</p></td><td><h4>{{ totalTest }}</h4></td></tr>
            <tr><td>&nbsp;</td><td></td></tr>
            <tr><td>Name</td><td></td></tr>
            <tr><td>Date</td><td></td></tr>
            <tr><td>Signature</td><td>
              {{!-- {{#if isGift}}
                Yes
              {{else}}
                No
              {{/if}} --}}
            </td></tr>
          </table>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>Transport and Test Company
          </div>
          <table class="table">
            <tr><td width="100%"><h6>Person who Arranges Transport</h6></td><td><h4>{{ totalTest }}</h4></td></tr>
            <tr><td>Name</td><td></td></tr>
            <tr><td>Adress</td><td></td></tr>
            <tr><td>Contact Person</td><td>
            <tr><td>Tel</td><td>
            <tr><td>Email</td><td>
            </td></tr>
            <tr><td width="100%"><h6>Company that performed the Test</h6></td><td><h4>{{ totalTest }}</h4></td></tr>
            <tr><td>Name</td><td></td></tr>
            <tr><td>Adress</td><td></td></tr>
            <tr><td>Contact Person</td><td>
            <tr><td>Tel</td><td>
            <tr><td>Email</td><td>
            </td></tr>
          </table>
        </div>
        {{!-- {{#ifCond customer '||' supplier}}
        <div class="panel panel-default">
          <div class="panel-heading">
            <span></span>{{#if customer}}Customer{{else}}Supplier{{/if}}
          </div>
          {{#if supplier}}
          <div class="panel-body">
            <img width="100%" src="{{supplier.barcode}}">
          </div>
          {{/if}} --}}
          {{!-- <table class="table">
            <tr><td>Contact Person</td><td>{{#if customer}}{{ customer.name }}{{else}}{{ supplier.name }}{{/if}}</td></tr>
            <tr><td width="50%">Company Name</td><td>{{#if customer}}{{ customer.company_name }}{{else}}{{ supplier.company_name }}{{/if}}</td></tr>
            <tr><td>KvK nr</td><td>{{#if customer}}{{ customer.company_kvk_nr }}{{else}}{{ supplier.company_kvk_nr }}{{/if}}</td></tr>
            <tr><td>E-mail</td><td>{{#if customer}}{{ customer.email }}{{else}}{{ supplier.email }}{{/if}}</td></tr>
            <tr><td>Phone</td><td>{{#if customer}}{{ customer.phone }}{{else}}{{ supplier.phone }}{{/if}}</td></tr>
            <tr><td>Street</td><td>{{#if customer}}{{ customer.street }}{{else}}{{ supplier.street }}{{/if}}</td></tr>
            <tr><td>Street extra</td><td>{{#if customer}}{{ customer.street_extra }}{{else}}{{ supplier.street_extra }}{{/if}}</td></tr>
            <tr><td>City</td><td>{{#if customer}}{{ customer.city }}{{else}}{{ supplier.city }}{{/if}}</td></tr>
            <tr><td>Zip</td><td>{{#if customer}}{{ customer.zip }}{{else}}{{ supplier.zip }}{{/if}}</td></tr>
            <tr><td>State</td><td>{{#if customer}}{{ customer.state }}{{else}}{{ supplier.state }}{{/if}}</td></tr>
            <tr><td>Country</td><td>{{#if customer}}{{ customer.country }}{{else}}{{ supplier.country }}{{/if}}</td></tr>
          </table> --}}
        {{!-- </div>
        {{/ifCond}}  --}}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <span></span>Products
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>SKU</th>
            <th>Name</th>
            <th>Type</th>
            <th width="5%">Qty</th>
            <th width="10%">Date of Test</th>
            <th width="15%">Kind of Test Performed</th>
            <th width="10%">Result of Test</th>
          </tr>
          <tr></tr>
        </thead>
        <tbody>
          {{#each product_order}}
          <tr>
            <td>{{ product.sku }}                             &nbsp;&nbsp;&nbsp;</td>
            <td>{{ product.name }}                            &nbsp;&nbsp;&nbsp;</td>
            <td>{{ product.product_type.name }}           &nbsp;&nbsp;&nbsp;</td>
            <td>{{ quantity }}</td>
            <td>25/03/2024</td>
            <td>Power up</td>
            <td>{{ Test }}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="panel panel-default" width="100%">
      <div class="panel-heading">
        <span></span> Sign for receipt
      </div>
      <table class="table">
        <tr><td width="50%">Name:<br/><br/>&nbsp;</td>
          <td rowspan="2" valign="top">Signature:</td></tr>
        <tr><td>Date:<br/><br/>&nbsp;</td></tr>
      </table>
    </div>
  </div>
  {{/each}}
</body>
</html>
