<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Window-target" content="_blank">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nexxus price tag</title>
  <style>
    html {
      -webkit-print-color-adjust: exact;
    }
    body {
      margin: 0;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 9pt;
    }

    div {
      text-align: center;
      width: 100%;
    }

    div.content {
      padding: 4px;
    }

    div.attributes {
      height: 78%;
      width: 100%;
    }

    div.title {
      height: 20px;
      background-color: #000;
      color: #fff;
      text-transform: uppercase;
      font-size: 14pt;
    }

    table {
      width: 100%;
      margin-bottom: 10px;
      max-height: 100%;
    }

    td {
      padding: 4px;
    }

    td.even {
      background-color: #eef;
    }
    
    .pagebreak {
      page-break-before: always;
    }
  </style>
</head>
<body>
{{#each this}}
  <div class="container pagebreak">
    <div class="content title">{{ product.name }}</div>
    <div class="content attributes">
      <table>
        {{#each specifications}}
        <tr>
          <td class="{{#if even}}even{{/if}}">{{name}}</td>
          <td class="{{#if even}}even{{/if}}"><b>{{value}}</b></td>
        </tr>
        {{/each}}
      </table>
    </div>
    <div class="content">
      <img src="{{ product.barcode }}">
    </div>
    <div class="content">
      <b>*&nbsp;{{ product.sku }}&nbsp;*</b>
    </div>
  </div>
{{/each}}
</body>
</html>
